html {
  background-color: #ccc;
}

h1 {
  font-size: 2.75em;
}

body {
  font-size: 1.2em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: white;
  border: 5px inset #ddd;
}
.guess_number {
  padding: 10px;
  border: solid 2px #DDD;
}
